<form method="post">
    Name: <input type="text" name="Name" value="" /><br />
    Age: <input type="text" name="Age" value="" /><br />
         <input type="submit" name="name" value="Create new student" />
</form>