@model WebApplication4.Models.Student

<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    Name: <input type="text" name="Name" value="@Model.Name" /><br />
    Age: <input type="text" name="Age" value="@Model.Age" /><br />
    <input type="submit" name="name" value="Save" />
</form>